node_modules
.DS_Store
yarn-error.log

server/src/database/database.sqlite
server/uploads/*

mobile/.expo/*
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/
mobile/web-report/
